@charset "UTF-8";
/**!
Theme Name: PITCH-IN Week
Theme URI: https://github.com/ahmadawais/WPGulpTheme
Description: A theme to demonstrate simplest implementation of WPGulp Boilerplate.
Version: 1.0
Author: Ahmad Awais, mrahmadawais
Author URI: http://AhmadAwais.com/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: gulp, boilerpate
Text Domain: wpgulp-theme
*/
/* ----------------------------------------------------------------------------
 * Normalize & Santize
 * ------------------------------------------------------------------------- */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

@keyframes wpb_appear {
  0% {
    transform: scale(0.5);
    opacity: .1;
    filter: alpha(opacity=10); }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }

.wpb_start_animation.wpb_appear {
  animation: wpb_appear 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100); }

#DIV_1 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 329px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 1230px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 615px 164.5px;
  transform-origin: 615px 164.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px -15px;
  outline: #0ca26c none 0px; }

/*#DIV_1*/
#DIV_1:after {
  box-sizing: border-box;
  clear: both;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_1:after*/
#DIV_1:before {
  box-sizing: border-box;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_1:before*/
#DIV_2 {
  bottom: 0px;
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  float: left;
  height: 266px;
  left: 0px;
  min-height: 1px;
  position: relative;
  right: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 0px;
  width: 410px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 205px 133px;
  transform-origin: 205px 133px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_2*/
#DIV_3 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 266px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 410px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 205px 133px;
  transform-origin: 205px 133px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px;
  padding: 0px 15px; }

/*#DIV_3*/
#DIV_3:after {
  box-sizing: border-box;
  clear: both;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_3:after*/
#DIV_3:before {
  box-sizing: border-box;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_3:before*/
#DIV_4 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 231px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 115.5px;
  transform-origin: 190px 115.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_4*/
#DIV_5, #DIV_18, #DIV_34 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 116px;
  text-align: center;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 58px;
  transform-origin: 190px 58px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 14px / 0px sans-serif;
  margin: 0px 0px 35px;
  outline: #0ca26c none 0px; }

/*#DIV_5, #DIV_18, #DIV_34*/
#DIV_6, #DIV_19, #DIV_35 {
  bottom: 0px;
  color: #0ca26c;
  cursor: default;
  display: inline-block;
  height: 70px;
  left: 0px;
  max-width: 100%;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 0px;
  width: 70px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 58px 58px;
  transform-origin: 58px 58px;
  caret-color: #0ca26c;
  background: #0ca26c none repeat scroll 0% 0%/auto padding-box border-box;
  border: 8px solid #0ca26c;
  border-radius: 50% 50% 50% 50%;
  font: normal normal 400 normal 14px / 39.9px sans-serif;
  outline: #0ca26c none 0px;
  padding: 15px; }

/*#DIV_6, #DIV_19, #DIV_35*/
#SPAN_7 {
  bottom: 11px;
  box-sizing: border-box;
  color: white;
  cursor: default;
  display: block;
  height: 39px;
  left: 50px;
  position: absolute;
  right: 10.0938px;
  text-align: center;
  text-decoration: none solid white;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 50px;
  width: 39.9062px;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 19.9531px 19.5px;
  transform: matrix(1, 0, 0, 1, -20, -19.5);
  transform-origin: 19.9531px 19.5px;
  caret-color: white;
  border: 0px none white;
  font: normal normal 400 normal 39.9px / 39.9px FontAwesome;
  outline: white none 0px; }

/*#SPAN_7*/
#SPAN_7:before {
  box-sizing: border-box;
  color: white;
  content: '';
  cursor: default;
  display: inline-block;
  height: 39px;
  text-align: center;
  text-decoration: none solid white;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 39.9062px;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 19.9531px 19.5px;
  transform-origin: 19.9531px 19.5px;
  caret-color: white;
  border: 0px none white;
  font: normal normal 400 normal 39.9px / 39.9px FontAwesome;
  outline: white none 0px; }

/*#SPAN_7:before*/
#A_8, #A_21, #A_37 {
  bottom: 0px;
  color: #1d4cf4;
  display: block;
  height: 100px;
  left: 15px;
  position: absolute;
  right: -15px;
  text-align: center;
  text-decoration: none solid #1d4cf4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 0px;
  width: 100px;
  -moz-column-rule-color: #1d4cf4;
       column-rule-color: #1d4cf4;
  perspective-origin: 50px 50px;
  transform-origin: 50px 50px;
  caret-color: #1d4cf4;
  border: 0px none #1d4cf4;
  border-radius: 50% 50% 50% 50%;
  font: normal normal 400 normal 14px / 39.9px sans-serif;
  outline: #1d4cf4 none 0px; }

/*#A_8, #A_21, #A_37*/
#H2_9, #H2_22, #H2_38 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 38px;
  text-align: center;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 19px;
  transform-origin: 190px 19px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 700 normal 27.75px / 38.85px sans-serif;
  margin: 0px;
  outline: #0ca26c none 0px; }

/*#H2_9, #H2_22, #H2_38*/
#A_10, #A_23, #A_39 {
  box-sizing: border-box;
  color: #1d4cf4;
  text-align: center;
  text-decoration: none solid #1d4cf4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #1d4cf4;
       column-rule-color: #1d4cf4;
  caret-color: #1d4cf4;
  border: 0px none #1d4cf4;
  font: normal normal 700 normal 27.75px / 38.85px sans-serif;
  outline: #1d4cf4 none 0px;
  transition: all 0.2s ease-in-out 0s; }

/*#A_10, #A_23, #A_39*/
#BR_11, #BR_24, #BR_40 {
  box-sizing: border-box;
  color: #1d4cf4;
  cursor: pointer;
  text-align: center;
  text-decoration: none solid #1d4cf4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #1d4cf4;
       column-rule-color: #1d4cf4;
  caret-color: #1d4cf4;
  border: 0px none #1d4cf4;
  font: normal normal 700 normal 27.75px / 38.85px sans-serif;
  outline: #1d4cf4 none 0px; }

/*#BR_11, #BR_24, #BR_40*/
#DIV_12 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 42px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 21px;
  transform-origin: 190px 21px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px 0px 35px;
  outline: #0ca26c none 0px; }

/*#DIV_12*/
#DIV_13 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 42px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 21px;
  transform-origin: 190px 21px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_13*/
#P_14 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 42px;
  text-align: center;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 21px;
  transform-origin: 190px 21px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px;
  outline: #0ca26c none 0px; }

/*#P_14*/
#DIV_15 {
  bottom: 0px;
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  float: left;
  height: 329px;
  left: 0px;
  min-height: 1px;
  position: relative;
  right: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 0px;
  width: 410px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 205px 164.5px;
  transform-origin: 205px 164.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_15*/
#DIV_16 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 329px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 410px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 205px 164.5px;
  transform-origin: 205px 164.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px;
  padding: 0px 15px; }

/*#DIV_16*/
#DIV_16:after {
  box-sizing: border-box;
  clear: both;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_16:after*/
#DIV_16:before {
  box-sizing: border-box;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_16:before*/
#DIV_17 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 294px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 147px;
  transform-origin: 190px 147px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_17*/
#SPAN_20 {
  bottom: 11px;
  box-sizing: border-box;
  color: white;
  cursor: default;
  display: block;
  height: 39px;
  left: 50px;
  position: absolute;
  right: 18.6406px;
  text-align: center;
  text-decoration: none solid white;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 50px;
  width: 31.3594px;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 15.6719px 19.5px;
  transform: matrix(1, 0, 0, 1, -15.5, -19.5);
  transform-origin: 15.6719px 19.5px;
  caret-color: white;
  border: 0px none white;
  font: normal normal 400 normal 39.9px / 39.9px FontAwesome;
  outline: white none 0px; }

/*#SPAN_20*/
#SPAN_20:before {
  box-sizing: border-box;
  color: white;
  content: '';
  cursor: default;
  display: inline-block;
  height: 39px;
  text-align: center;
  text-decoration: none solid white;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 31.3594px;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 15.6719px 19.5px;
  transform-origin: 15.6719px 19.5px;
  caret-color: white;
  border: 0px none white;
  font: normal normal 400 normal 39.9px / 39.9px FontAwesome;
  outline: white none 0px; }

/*#SPAN_20:before*/
#DIV_25 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 105px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 52.5px;
  transform-origin: 190px 52.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px 0px 35px;
  outline: #0ca26c none 0px; }

/*#DIV_25*/
#DIV_26, #DIV_28 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 105px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 52.5px;
  transform-origin: 190px 52.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_26, #DIV_28*/
#BLOCKQUOTE_27 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 105px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 52.5px;
  transform-origin: 190px 52.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px;
  outline: #0ca26c none 0px; }

/*#BLOCKQUOTE_27*/
#DIV_29 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 105px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 52.5px;
  transform-origin: 190px 52.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_29*/
#P_30 {
  box-sizing: border-box;
  cursor: default;
  height: 105px;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  perspective-origin: 190px 52.5px;
  transform-origin: 190px 52.5px;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px; }

/*#P_30*/
#DIV_31 {
  bottom: 0px;
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  float: left;
  height: 245px;
  left: 0px;
  min-height: 1px;
  position: relative;
  right: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 0px;
  width: 410px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 205px 122.5px;
  transform-origin: 205px 122.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_31*/
#DIV_32 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 245px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 410px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 205px 122.5px;
  transform-origin: 205px 122.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px;
  padding: 0px 15px; }

/*#DIV_32*/
#DIV_32:after {
  box-sizing: border-box;
  clear: both;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_32:after*/
#DIV_32:before {
  box-sizing: border-box;
  color: #0ca26c;
  content: '';
  cursor: default;
  display: table;
  height: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_32:before*/
#DIV_33 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 210px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 105px;
  transform-origin: 190px 105px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_33*/
#SPAN_36 {
  bottom: 11px;
  box-sizing: border-box;
  color: white;
  cursor: default;
  display: block;
  height: 39px;
  left: 50px;
  position: absolute;
  right: 12.9375px;
  text-align: center;
  text-decoration: none solid white;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 50px;
  width: 37.0625px;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 18.5312px 19.5px;
  transform: matrix(1, 0, 0, 1, -18.5, -19.5);
  transform-origin: 18.5312px 19.5px;
  caret-color: white;
  border: 0px none white;
  font: normal normal 400 normal 39.9px / 39.9px FontAwesome;
  outline: white none 0px; }

/*#SPAN_36*/
#SPAN_36:before {
  box-sizing: border-box;
  color: white;
  content: '';
  cursor: default;
  display: inline-block;
  height: 39px;
  text-align: center;
  text-decoration: none solid white;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 37.0625px;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 18.5312px 19.5px;
  transform-origin: 18.5312px 19.5px;
  caret-color: white;
  border: 0px none white;
  font: normal normal 400 normal 39.9px / 39.9px FontAwesome;
  outline: white none 0px; }

/*#SPAN_36:before*/
#DIV_41 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 21px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 10.5px;
  transform-origin: 190px 10.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px 0px 35px;
  outline: #0ca26c none 0px; }

/*#DIV_41*/
#DIV_42 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 21px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 10.5px;
  transform-origin: 190px 10.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_42*/
#P_43 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 21px;
  text-align: center;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 190px 10.5px;
  transform-origin: 190px 10.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px;
  outline: #0ca26c none 0px; }

/*#P_43*/
#DIV_1 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  height: 435px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 1230px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 615px 217.5px;
  transform-origin: 615px 217.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 75px -15px 0px;
  outline: #0ca26c none 0px; }

/*#DIV_1*/
#DIV_1:after {
  box-sizing: border-box;
  clear: both;
  color: #0ca26c;
  content: '"' '"';
  cursor: default;
  display: none;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_1:after*/
#DIV_1:before {
  box-sizing: border-box;
  color: #0ca26c;
  content: '"' '"';
  cursor: default;
  display: none;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_1:before*/
#DIV_2, #DIV_9 {
  bottom: 0px;
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  height: 435px;
  left: 0px;
  min-height: 1px;
  min-width: auto;
  position: relative;
  right: 0px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  top: 0px;
  width: 615px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  -ms-flex-align: start;
      align-items: flex-start;
  perspective-origin: 307.5px 217.5px;
  transform-origin: 307.5px 217.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_2, #DIV_9*/
#DIV_3 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  height: 435px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 615px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  -ms-flex-pack: start;
      justify-content: flex-start;
  perspective-origin: 307.5px 217.5px;
  transform-origin: 307.5px 217.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px;
  padding: 0px 15px; }

/*#DIV_3*/
#DIV_3:after {
  box-sizing: border-box;
  clear: both;
  color: #0ca26c;
  content: '"' '"';
  cursor: default;
  display: table;
  height: 0px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_3:after*/
#DIV_3:before {
  box-sizing: border-box;
  color: #0ca26c;
  content: '"' '"';
  cursor: default;
  display: table;
  height: 0px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_3:before*/
#DIV_4 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 435px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 217.5px;
  transform-origin: 292.5px 217.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_4*/
#DIV_5 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 400px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 200px;
  transform-origin: 292.5px 200px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px 0px 35px;
  outline: #0ca26c none 0px; }

/*#DIV_5*/
#DIV_6 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 400px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 200px;
  transform-origin: 292.5px 200px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_6*/
#IFRAME_7 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  display: inline-block;
  height: 400px;
  max-width: 100%;
  min-height: 200px;
  min-width: 180px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  vertical-align: middle;
  width: 500px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 250px 200px;
  transform-origin: 250px 200px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#IFRAME_7*/
#SCRIPT_8, #BR_18, #BR_20 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#SCRIPT_8, #BR_18, #BR_20*/
#DIV_10 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  height: 307px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 615px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  -ms-flex-pack: start;
      justify-content: flex-start;
  perspective-origin: 307.5px 153.5px;
  transform-origin: 307.5px 153.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px;
  padding: 0px 15px; }

/*#DIV_10*/
#DIV_10:after {
  box-sizing: border-box;
  clear: both;
  color: #0ca26c;
  content: '"' '"';
  cursor: default;
  display: table;
  height: 0px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_10:after*/
#DIV_10:before {
  box-sizing: border-box;
  color: #0ca26c;
  content: '"' '"';
  cursor: default;
  display: table;
  height: 0px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 0px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_10:before*/
#DIV_11 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 307px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 153.5px;
  transform-origin: 292.5px 153.5px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_11*/
#DIV_12 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 272px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 136px;
  transform-origin: 292.5px 136px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px 0px 35px;
  outline: #0ca26c none 0px; }

/*#DIV_12*/
#DIV_13 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 272px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 136px;
  transform-origin: 292.5px 136px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#DIV_13*/
#H2_14 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 38px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 19px;
  transform-origin: 292.5px 19px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 700 normal 27.75px / 38.85px sans-serif;
  margin: 0px;
  outline: #0ca26c none 0px; }

/*#H2_14*/
#A_15 {
  box-sizing: border-box;
  color: #1d4cf4;
  text-decoration: none solid #1d4cf4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #1d4cf4;
       column-rule-color: #1d4cf4;
  caret-color: #1d4cf4;
  border: 0px none #1d4cf4;
  font: normal normal 700 normal 27.75px / 38.85px sans-serif;
  outline: #1d4cf4 none 0px; }

/*#A_15*/
#P_16 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 84px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 42px;
  transform-origin: 292.5px 42px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px;
  outline: #0ca26c none 0px; }

/*#P_16*/
#A_17, #A_22 {
  box-sizing: border-box;
  color: #1d4cf4;
  text-decoration: none solid #1d4cf4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #1d4cf4;
       column-rule-color: #1d4cf4;
  caret-color: #1d4cf4;
  border: 0px none #1d4cf4;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #1d4cf4 none 0px; }

/*#A_17, #A_22*/
#BR_19 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #0ca26c none 0px; }

/*#BR_19*/
#P_21 {
  box-sizing: border-box;
  color: #0ca26c;
  cursor: default;
  height: 150px;
  text-decoration: none solid #0ca26c;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 585px;
  -moz-column-rule-color: #0ca26c;
       column-rule-color: #0ca26c;
  perspective-origin: 292.5px 75px;
  transform-origin: 292.5px 75px;
  caret-color: #0ca26c;
  border: 0px none #0ca26c;
  font: normal normal 400 normal 15px / 21px sans-serif;
  margin: 0px;
  outline: #0ca26c none 0px; }

/*#P_21*/
#IMG_23 {
  box-sizing: border-box;
  color: #1d4cf4;
  cursor: pointer;
  height: 150px;
  max-width: 100%;
  text-decoration: none solid #1d4cf4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  vertical-align: middle;
  width: 150px;
  -moz-column-rule-color: #1d4cf4;
       column-rule-color: #1d4cf4;
  perspective-origin: 75px 75px;
  transform-origin: 75px 75px;
  caret-color: #1d4cf4;
  border: 0px none #1d4cf4;
  font: normal normal 400 normal 15px / 21px sans-serif;
  outline: #1d4cf4 none 0px; }

/*#IMG_23*/
/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-family: "Sans serif", helvetica;
  font-size: 12px;
  color: #303133; }

h2 {
  font-size: 1.85em; }

/*
 * Mixin for clearfix
 * @include clearfix;
*/
/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
  font-size: 100%;
  height: 100%;
  min-height: 100%; }

body {
  font: 400 15px/1.4 sans-serif;
  margin: 0;
  height: 100%;
  min-height: 100%; }

.main-content {
  margin-bottom: 100px; }

.grid {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto; }

.content.grid {
  margin: 50px auto 100px auto; }

.main-content > .content {
  min-height: 50vh; }

.thin-grid {
  max-width: 950px;
  margin: 50px auto 100px auto; }

.bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 23, 0.33); }

.clearfix:after, .content.grid:after {
  content: "";
  display: table;
  clear: both; }

a:link, a, a:active, a:visited {
  color: #1d4cf4; }

.spacer {
  height: 25px; }

.hidden {
  display: none; }

label {
  cursor: pointer; }

h2 {
  margin-bottom: 10px; }

p {
  margin-bottom: 20px; }

img {
  max-width: 100%;
  height: auto; }

.section {
  padding: 30px 0; }

.center-text {
  text-align: center !important; }
  .center-text .inner.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center; }
    .center-text .inner.grid .text {
      margin: 0 auto; }
    .center-text .inner.grid img {
      margin: 0 auto;
      display: block; }

.bg-light-grey {
  background: #f9f9f9; }

.all-but-footer {
  min-height: calc(100vh - 93px - 93px); }

.mrg-b-0 {
  margin-bottom: 0; }

body {
  padding-top: 93px; }

.admin-bar .menu-main-wrapper {
  top: 32px; }

.menu-main-wrapper {
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 0;
  z-index: 101;
  background: white; }
  .menu-main-wrapper > .grid {
    background: white; }
  .menu-main-wrapper .inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .menu-main-wrapper .inner,
  .menu-main-wrapper .menu-wrap-hide,
  .menu-main-wrapper .menu-main,
  .menu-main-wrapper .menu-main-menu-container,
  .menu-main-wrapper .menu,
  .menu-main-wrapper .menu li,
  .menu-main-wrapper .menu li a,
  .menu-main-wrapper .menu-icons,
  .menu-main-wrapper .menu-icons ul,
  .menu-main-wrapper .menu-icons li {
    height: 100%; }
  .menu-main-wrapper .menu-wrap-hide {
    margin-top: auto; }
  .menu-main-wrapper .menu-icons > ul {
    display: -ms-flexbox;
    display: flex; }
    .menu-main-wrapper .menu-icons > ul .menu-item {
      cursor: pointer; }
    .menu-main-wrapper .menu-icons > ul .fa-shopping-cart {
      position: relative; }
    .menu-main-wrapper .menu-icons > ul .cart-icon {
      position: relative; }
      .menu-main-wrapper .menu-icons > ul .cart-icon__badge {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        font-size: 12px;
        font-weight: 800;
        font-family: sans-serif;
        text-align: center;
        padding: 5px;
        position: absolute;
        bottom: 80%;
        left: 80%; }
    .menu-main-wrapper .menu-icons > ul .badge-hidden {
      display: none; }
    .menu-main-wrapper .menu-icons > ul li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      position: relative; }
      .menu-main-wrapper .menu-icons > ul li .sub-menu {
        height: auto !important;
        right: 0;
        font-size: 0.75em;
        white-space: nowrap;
        color: black;
        left: auto; }
        .menu-main-wrapper .menu-icons > ul li .sub-menu li:hover {
          color: #0ca26c; }
  .menu-main-wrapper li a {
    line-height: 66px; }
  .menu-main-wrapper .logo {
    margin-right: auto; }
    .menu-main-wrapper .logo img {
      height: 75px;
      width: auto; }
  .menu-main-wrapper li {
    display: inline-block;
    letter-spacing: 0.75px; }
    .menu-main-wrapper li a {
      padding: 0 16px;
      display: inline-block;
      height: 100%; }
  .menu-main-wrapper .menu-item {
    color: #303133;
    position: relative; }
    .menu-main-wrapper .menu-item a,
    .menu-main-wrapper .menu-item a:visited,
    .menu-main-wrapper .menu-item a:active,
    .menu-main-wrapper .menu-item a:link {
      color: inherit; }
    .menu-main-wrapper .menu-item:hover {
      color: #0ca26c; }
      .menu-main-wrapper .menu-item:hover .sub-menu {
        visibility: visible; }
  .menu-main-wrapper .current-menu-item > a,
  .menu-main-wrapper .current-menu-item > a:visited,
  .menu-main-wrapper .current-menu-item > a:active,
  .menu-main-wrapper .current-menu-item > a:link {
    color: #0ca26c; }
  .menu-main-wrapper .sub-menu {
    visibility: hidden;
    position: absolute;
    left: -10px;
    bottom: 15px;
    transform: translateY(100%);
    background: white;
    z-index: 1;
    width: auto;
    overflow: visible;
    padding: 10px;
    border: 1px solid #eaeaea; }
    @media (min-width: 1100px) {
      .menu-main-wrapper .sub-menu {
        padding: 10px 40px 10px 0; } }
    .menu-main-wrapper .sub-menu li {
      height: auto !important;
      font-weight: normal;
      width: 100%; }
      .menu-main-wrapper .sub-menu li a {
        line-height: 2.25;
        width: 100%;
        white-space: nowrap;
        padding: 0 26px; }
  .menu-main-wrapper .menu-item-has-children {
    position: relative;
    margin-right: 10px; }
    .menu-main-wrapper .menu-item-has-children:after {
      content: "\f107";
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      font-family: "FontAwesome";
      font-weight: normal;
      line-height: 1; }

.menu-main {
  display: inline-block; }
  .menu-main .highlight {
    background: #0ca26c;
    background: #2165db;
    letter-spacing: 2px; }
    .menu-main .highlight, .menu-main .highlight:hover, .menu-main .highlight:active, .menu-main .highlight:visited,
    .menu-main .highlight a {
      color: white !important; }

@media (max-width: 1100px) {
  .menu-wrap-hide {
    position: absolute;
    top: 100px;
    background: white;
    height: auto !important;
    width: 100%;
    left: 0;
    overflow: auto;
    max-height: calc(100vh - 100px); }
  .sub-menu {
    position: relative !important;
    display: none; } }

@media (max-width: 1100px) {
  .menu-main-wrapper .menu-main {
    background: white;
    width: auto;
    right: 0;
    height: auto;
    width: 100%;
    margin-top: 25px; }
    .menu-main-wrapper .menu-main li {
      display: block;
      width: 100%;
      text-align: right; }
      .menu-main-wrapper .menu-main li a {
        line-height: 45px; }
  .menu-icons {
    margin: 20px 0 40px;
    float: right; } }

.menu-icons {
  display: inline-block;
  font-size: 18px; }
  .menu-icons li {
    padding: 0 7px; }

.mobile-menu-button {
  position: relative;
  padding: 27px 36px 27px 36px;
  cursor: pointer; }

.menu-wrap-hide {
  display: none; }

@media (min-width: 1100px) {
  .mobile-menu-button {
    display: none; }
  .menu-wrap-hide {
    display: -ms-flexbox;
    display: flex; } }

.lines,
.lines::before,
.lines::after {
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #303133;
  position: absolute;
  content: ""; }

.lines::before {
  top: 6px; }

.lines::after {
  top: -6px; }

.fa-bag {
  position: relative; }

.topbar {
  background: #008858; }
  .topbar .grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end; }

.lang {
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  background: #157451;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
  padding: 0 5px; }
  .lang > * {
    padding: 0 5px; }
  .lang .lang__current {
    color: white; }
  .lang a {
    color: white;
    text-decoration: underline; }

@media (min-width: 400px) {
  .logo {
    height: 103px;
    margin-top: -28px;
    background: white;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 15px;
    margin-bottom: -10px;
    border-radius: 0 0px 10px 10px; } }

.header-main {
  height: 372px;
  color: white;
  text-align: center;
  position: relative;
  background-position: center;
  text-align: left; }
  .header-main a {
    color: #0ca26c; }
  .header-main .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-main h1, .header-main h2 {
    margin: 0; }
  .header-main h2 {
    font-size: 21px;
    line-height: 28px;
    font-weight: normal; }
    @media (min-width: 500px) {
      .header-main h2 {
        font-size: 24px; } }
  .header-main h1 {
    font-size: 30px;
    line-height: 1.25;
    margin: 5px 0 10px 0; }
    @media (min-width: 500px) {
      .header-main h1 {
        font-size: 35px; } }
  .header-main .text + .button-wrapper {
    margin-top: 20px; }
  @media (min-width: 500px) {
    .header-main .text + .button-wrapper {
      margin-top: 30px; } }
  @media (min-width: 800px) {
    .header-main .text + .button-wrapper {
      margin-top: 50px; } }

.shrink-header {
  height: 200px; }

.vc_row {
  margin-top: 75px; }

.vc_icon_element-inner {
  padding: 15px;
  background-color: #0ca26c !important;
  border: 8px solid #0ca26c !important; }
  .vc_icon_element-inner .vc_icon_element-icon.fa {
    color: white !important; }
  .vc_icon_element-inner:hover {
    background-color: white !important;
    border: 8px solid #0ca26c; }
    .vc_icon_element-inner:hover .vc_icon_element-icon.fa {
      color: #0ca26c !important; }

.main-content ul {
  list-style: initial;
  padding: 0px 0px 0px 18px; }

.wpb_gmaps_widget .wpb_wrapper {
  padding: 0 !important; }

footer {
  background-color: #303133; }

.site-info {
  padding: 36px 0;
  color: white; }

.footer-scroll-top {
  opacity: 1;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #0ca26c;
  border: none;
  color: white;
  border-radius: 2px;
  width: 44px;
  height: 44px;
  text-align: center; }
  .footer-scroll-top .fa {
    border: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

input:not(.btn), textarea {
  padding: 10px 15px;
  border: 1px solid #eaeaea;
  width: 100%; }

.wpcf7-inline-wrapper .wpcf7-inline-field {
  width: 49.7%;
  display: inline-block;
  vertical-align: top;
  padding: 0px 9px 0px 9px;
  box-sizing: border-box; }

.wpcf7-text {
  width: 100%; }

.wpcf7-inline-wrapper .wpcf7-inline-field:first-child {
  padding-left: 0px; }

.wpcf7-inline-wrapper .wpcf7-inline-field:last-child {
  padding-right: 0px; }

form p {
  margin: 18px 0px 0px 0px;
  margin-top: 18px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.btn-accent {
  color: #ffffff !important;
  background-color: #0ca26c !important;
  border-color: #0ca26c !important; }

.btn, .btn-link {
  display: inline-block;
  font-size: 12px;
  padding: 13px 31px 13px 31px !important;
  font-style: normal !important;
  text-align: center;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  border-radius: 2px;
  outline: none;
  white-space: pre-wrap;
  -webkit-text-stroke: 0px;
  transition: all 200ms ease-in-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.buttons-style, input[type="submit"], input[type="reset"], input[type="button"], button[type="submit"], .btn, .btn-link, .nav-tabs, .panel-title > a span, .search_footer, .wc-forward, .wc-forward a {
  font-weight: 600 !important;
  font-family: !important;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.acf-map {
  width: 100%;
  height: 65vh; }
  .acf-map--short {
    height: 40vh; }

.acf-map img {
  max-width: inherit !important; }

.full-height-map .acf-map {
  height: calc(100vh - 93px - 27px - 21px); }

.page-template-template-all-cleanups .tab-dropdown {
  top: 0;
  transform: translateY(-100%); }

.gm-style-iw .cleanup-button:hover {
  background: #0ca26c !important;
  color: white !important; }

.hidden-full-list {
  display: none; }

.tab-selector {
  background-color: #1D4CF4;
  height: 48px;
  position: relative;
  z-index: 100; }
  .tab-selector .grid {
    height: 100%; }
  @media (max-width: 875px) {
    .tab-selector .mobile-wrap {
      display: -ms-flexbox;
      display: flex;
      display: none;
      -ms-flex-direction: column;
          flex-direction: column;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%); }
      .tab-selector .mobile-wrap .tab-selector-item-plus {
        display: none; } }
  .tab-selector .right {
    display: -ms-flexbox;
    display: flex;
    float: right;
    color: white;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    font-size: 12px;
    background: #1D4CF4; }
    @media (max-width: 875px) {
      .tab-selector .right {
        padding: 20px;
        -ms-flex-direction: column;
            flex-direction: column; } }
    .tab-selector .right a {
      color: white;
      text-decoration: underline;
      margin-left: 10px; }
    .tab-selector .right .button {
      padding: 8px 31px;
      margin-left: 20px; }
      @media (max-width: 875px) {
        .tab-selector .right .button {
          text-align: center;
          margin-top: 10px; } }

.tab-selector-item, .tab-selector-item-highlight, .tab-selector-item-plus {
  display: inline-block;
  color: white !important;
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: .9rem;
  transition: .2s background-color;
  background-color: #5077ff;
  height: 48px; }
  @media (min-width: 875px) {
    .tab-selector-item, .tab-selector-item-highlight, .tab-selector-item-plus {
      margin-right: -5px; } }

.tab-selector-item-highlight:last-child {
  color: white; }

.tab-selector-item.active {
  background-color: white;
  color: #555555 !important; }

.tab-selector-item-plus {
  background: #2d5afb;
  color: white;
  position: relative; }

.tab-selector-item-plus-two {
  color: #1d4cf4; }

a.tab-selector-item {
  color: white; }

.tab-dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 150px;
  display: none;
  padding-left: 0 !important; }
  .tab-dropdown li {
    list-style-type: none;
    margin-bottom: -1px; }
  .tab-dropdown a:hover {
    background-color: #2d5afb; }
  .tab-dropdown a {
    width: 100%; }

.tab-selector-item-plus:hover .tab-dropdown {
  display: block; }

@media (min-width: 875px) {
  .mobile-only {
    display: none; } }

.tab-selector-mobile-menu-button {
  position: relative;
  height: 100%;
  max-height: 48px;
  cursor: pointer; }
  @media (min-width: 875px) {
    .tab-selector-mobile-menu-button {
      display: none; } }
  .tab-selector-mobile-menu-button .lines, .tab-selector-mobile-menu-button .lines::before, .tab-selector-mobile-menu-button .lines::after {
    background-color: white; }
  .tab-selector-mobile-menu-button .lines {
    transform: translateY(-50%);
    top: 50%;
    right: 5%; }

@media (max-width: 875px) {
  .page-template-template-all-cleanups .mobile-wrap {
    transform: translateY(-100%);
    bottom: auto;
    top: 0;
    left: auto;
    right: 0; }
  .page-template-template-all-cleanups .tab-selector {
    z-index: 120; }
    .page-template-template-all-cleanups .tab-selector .button {
      text-align: center; } }

.um-7.um {
  max-width: none !important; }

.um-dropdown {
  left: auto !important;
  right: 0 !important; }

.cleanup-list, .cleanup-sidebar {
  float: left;
  width: 100%; }

.cleanup-list {
  margin: 0 0 30px 0; }
  @media (min-width: 1200px) {
    .cleanup-list {
      width: 80%; } }
  .cleanup-list h1 {
    margin-top: 0; }

@media (max-width: 650px) {
  .marker-map {
    display: none; } }

.cleanup-sidebar {
  margin-top: 25px; }
  @media (min-width: 1200px) {
    .cleanup-sidebar {
      width: 20%; } }
  .cleanup-sidebar input {
    margin-bottom: 10px; }
  .cleanup-sidebar form {
    margin: 10px auto 25px; }
  .cleanup-sidebar h3 {
    font-size: 19px; }

.card {
  background: #ececec;
  margin-bottom: 25px;
  max-width: 850px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  clear: both; }
  @media (max-width: 650px) {
    .card {
      text-align: center; }
      .card .content {
        width: 100%; }
      .card p {
        width: 100%; } }
  .card .subtitle {
    white-space: nowrap; }
  .card img {
    display: inline-block; }
  .card .content {
    padding: 25px; }
    @media (min-width: 650px) {
      .card .content {
        max-width: 340px; } }
    .card .content > div {
      margin-bottom: 2.5px; }

.counter {
  background: #0ca26c;
  margin-left: auto;
  text-align: center; }
  @media (min-width: 870px) {
    .counter {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  @media (max-width: 870px) {
    .counter {
      width: 100%; } }
  .counter .attendee-count {
    color: white;
    padding: 25px;
    width: 227px;
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (max-width: 870px) {
      .counter .attendee-count {
        float: left;
        text-align: center;
        width: 60%; } }
    @media (max-width: 425px) {
      .counter .attendee-count {
        margin: 0 auto;
        float: none;
        display: block; } }
    .counter .attendee-count .number {
      font-size: 2.5em; }
  .counter ul {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0; }
    @media (max-width: 870px) {
      .counter ul {
        width: 40%;
        float: right;
        height: 100%;
        -ms-flex-direction: row;
            flex-direction: row; }
        .counter ul li {
          position: relative; }
          .counter ul li .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px; } }
    @media (max-width: 425px) {
      .counter ul {
        width: 100%;
        height: 50px; } }
    .counter ul li {
      -ms-flex: 1;
          flex: 1; }
    .counter ul a {
      background: #1d4cf4;
      color: white;
      padding: 15px 0;
      display: inline-block;
      width: 100%;
      height: 100%; }
      .counter ul a:hover {
        background: #5077ff; }
    .counter ul li:last-child a {
      background: #2d5afb; }
      .counter ul li:last-child a:hover {
        background: #5077ff; }

.attending-this {
  background: #5077ff; }

.my-cleanup {
  background: #ccb829; }

.navigation {
  margin-bottom: 50px; }

.no-order-box {
  background: #0ca26c;
  color: white;
  padding: 20px;
  width: auto; }
  .no-order-box .grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  @media (max-width: 1225px) {
    .no-order-box .grid {
      display: block; }
    .no-order-box h3 {
      margin-bottom: 10px; }
    .no-order-box .button {
      margin-left: 10px; }
    .no-order-box .button:first-of-type {
      margin-left: 0; } }
  .no-order-box .button {
    margin-left: 50px;
    background-color: #f19814;
    border: none; }
    .no-order-box .button:hover {
      border: none; }
  .no-order-box h3 {
    font-size: 20px; }

.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 2px 10px; }

.custom-pagination a {
  background-color: #ebebeb;
  color: #0ca26c; }

.custom-pagination a:hover {
  background-color: #0ca26c;
  color: #fff; }

.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0; }

.custom-pagination span.dots {
  padding: 0;
  color: gainsboro; }

.custom-pagination span.current {
  background-color: #0ca26c;
  color: #fff; }

.cleanup-group {
  max-width: 700px; }
  .cleanup-group h2 {
    font-size: 1.25em;
    margin-bottom: .5em; }
  .cleanup-group .row {
    margin-bottom: 2.5em; }

.cleanup-list-title {
  margin-bottom: 20px; }

#response {
  margin-top: -20px;
  padding-bottom: 20px; }

header .button {
  margin: 0 25px; }

.button, a.button, input.button[type='submit'] {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  width: auto;
  padding: 13px 31px;
  border: 2px solid white;
  border-radius: 2px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer; }
  .button:hover, a.button:hover, input.button[type='submit']:hover {
    color: #0ca26c;
    background: white;
    border: 2px solid #0ca26c; }

.acf-form {
  margin: 50px 0; }

.acf-button {
  margin-left: 11px;
  cursor: pointer; }

.acf-button, .attend-button {
  background: #0ca26c; }

.acf-button:hover, .attend-button:hover, .acf-form-submit input.button[type='submit']:hover {
  border: 2px solid #0ca26c; }

.orange-button {
  background-color: #0ca26c; }

.cleanup-button {
  background-color: #1D4CF4;
  border: none !important;
  margin-top: 12px; }
  @media (max-width: 650px) {
    .cleanup-button {
      font-size: 13px !important;
      padding: 17px 21px !important;
      width: 500px !important;
      max-width: 100%; } }
  @media (min-width: 651px) {
    .cleanup-button {
      font-size: 10px !important;
      padding: 10px 21px !important; } }

.button-wrapper .button {
  margin-bottom: 10px; }

@media (max-width: 550px) {
  .button {
    min-width: 100%;
    margin: 5px 0 !important; } }

.acf-actions {
  margin-top: 20px !important;
  margin-bottom: 10px !important; }

.delete-modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.63); }
  .delete-modal-bg .delete-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 5%; }
    .delete-modal-bg .delete-modal h2 {
      margin-bottom: 10px; }
    .delete-modal-bg .delete-modal p {
      margin-bottom: 30px; }

ul.acf-checkbox-list li {
  width: 33%;
  float: left; }
  @media (max-width: 725px) {
    ul.acf-checkbox-list li {
      width: 50%; } }
  @media (max-width: 400px) {
    ul.acf-checkbox-list li {
      width: 100%; } }

.acf-checkbox-list input[type="checkbox"] {
  width: auto; }

.acf-taxonomy-field .categorychecklist-holder {
  max-height: none !important; }

body .acf-relationship .list {
  height: auto; }

input[type='checkbox'] {
  width: auto; }

.acf-repeater .acf-actions {
  padding-left: 0; }

.acf-repeater .acf-actions li a {
  margin-left: 0; }

.acf-repeater .acf-actions li {
  float: left;
  margin-left: 0; }

.acf-field select {
  border: 1px solid #c3c2c2;
  padding: 5px; }

.no-order-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0ca26c;
  z-index: 2;
  color: white;
  border-bottom: 2px solid #0ca26c;
  margin-bottom: -2px; }
  @media (max-width: 1225px) {
    .no-order-menu {
      position: relative;
      padding: 20px 0; }
      .no-order-menu .grid {
        display: block; }
      .no-order-menu .button, .no-order-menu .message {
        margin-bottom: 10px; } }
  .no-order-menu .message {
    text-transform: none; }
  .no-order-menu .inner {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .no-order-menu .fa-times {
    font-size: 30px; }
  .no-order-menu .menu-order-button {
    height: 50px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    background: #f19814;
    border: none; }
  .no-order-menu .close {
    background: #008858; }
    .no-order-menu .close:hover {
      color: white; }

.woocommerce-page .no-order-menu {
  display: none; }

h3#order_review_heading {
  margin: 25px 0 10px; }

p.woocommerce-thankyou-order-received {
  font-size: 25px;
  margin-bottom: 20px; }

.donate {
  margin-top: 100px;
  margin-bottom: -200px; }
  .donate form {
    margin: 0 auto;
    display: block;
    width: 350px; }

.cleanup-order-page {
  margin: 50px auto; }
  .cleanup-order-page h2 {
    font-size: 20px; }

.cleanups-without-orders-section {
  margin-bottom: 20px; }
  .cleanups-without-orders-section .button {
    margin-top: 10px; }

.cleanup-woo-product > * {
  display: inline-block;
  width: auto !important;
  margin: 10px 0; }

.cleanup-woo-product input {
  margin-right: 10px; }

.cleanup-woo-product:first-of-type {
  margin-top: 25px; }

.cleanup-woo-product:last-of-type {
  margin-bottom: 25px; }

.order-note {
  margin-bottom: 25px; }

.um-page-login .main-content > .content {
  min-height: 58vh; }

.social-icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

a.social-icon {
  font-size: 17px;
  padding: 5px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  a.social-icon, a.social-icon:visited, a.social-icon:link, a.social-icon:active {
    color: white; }

.faq__row {
  margin-bottom: 50px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.07); }

.faq__q {
  background: #f9f9f9;
  background: #0ca26c;
  color: #303133;
  color: white;
  line-height: .75;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0; }

.faq__a {
  background-color: white;
  border-top: none; }
  .faq__a p {
    font-size: 15px;
    line-height: 1.5;
    max-width: 900px;
    color: #303133; }

.faq__q, .faq__a {
  padding: 15px 15px 12.5px; }

.partners {
  display: -ms-flexbox;
  display: flex; }
  .partners > * {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }

.post {
  margin-bottom: 50px; }
  .post h2,
  .post img,
  .post p {
    margin-bottom: 15px; }
  .post p {
    max-width: 800px; }

.content.single h1, .content.single h2, .content.single p, .content.single img {
  margin-bottom: 20px; }

.single__meta-footer {
  margin-top: 50px; }

.header-blog .text p {
  max-width: 900px; }

.icon-boxes {
  margin-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
  @media (min-width: 1050px) {
    .icon-boxes {
      -ms-flex-direction: row;
          flex-direction: row; }
      .icon-boxes > * {
        -ms-flex: 1;
            flex: 1; } }

.icon-box {
  display: block;
  text-align: center;
  padding: 50px 30px;
  margin: 0 20px; }
  .icon-box__icon {
    color: white;
    background: #0ca26c;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 116px;
    height: 116px;
    line-height: 5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .icon-box__icon .fa {
      font-size: 40px; }
  .icon-box__title {
    color: #0ca26c;
    margin-bottom: 10px; }
  .icon-box__paragraph {
    color: #303133; }

.icon-box:nth-child(even) {
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.07);
  background-color: white;
  margin: 0;
  -ms-flex-positive: 1.25;
      flex-grow: 1.25; }
  .icon-box:nth-child(even) .icon-box__title {
    color: #2165db;
    font-size: 35px; }
  .icon-box:nth-child(even) .icon-box__icon {
    background: #2165db;
    margin-bottom: 20px; }
  .icon-box:nth-child(even):hover .icon-box__icon {
    border-color: #2165db;
    color: #2165db; }

.icon-box__icon {
  transition: .2s all; }

.icon-box:hover .icon-box__icon {
  background: #f9f9f9;
  border: 5px solid #0ca26c;
  color: #0ca26c; }

.icon-box:hover:nth-child(even) .icon-box__icon {
  background: white; }

.quantity {
  display: inline-block; }

.woocommerce button,
.woocommerce .add_to_cart_button,
.woocommerce .product_type_external,
.woocommerce .wc-backward {
  text-align: center;
  border: 2px solid transparent !important; }

.woocommerce .products {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%; }

.woocommerce .woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
  width: 60%; }

.qty {
  width: 4.5em !important; }

.woocommerce-ordering select {
  padding: 5px 10px !important; }

.single_add_to_cart_button,
.checkout-button,
#place_order {
  background: #00b572 !important;
  border: 2px solid #00b572 !important; }
  .single_add_to_cart_button:hover,
  .checkout-button:hover,
  #place_order:hover {
    background: #008858 !important;
    border: 2px solid #008858 !important; }

.woocommerce .related ul li.product img,
.woocommerce .related ul.products li.product img {
  width: 60%; }

.woocommerce ul.products li.first,
.woocommerce-page ul.products li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: start;
      align-items: flex-start; }

.woocommerce-product-gallery__trigger {
  display: none; }

.woocommerce-Button {
  border: 2px solid transparent !important; }

.woocommerce-MyAccount-navigation {
  margin-bottom: 30px; }
  .woocommerce-MyAccount-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background: #f9f9f9; }
    .woocommerce-MyAccount-navigation ul li a {
      display: -ms-flexbox;
      display: flex;
      padding: 5px 10px; }
    .woocommerce-MyAccount-navigation ul li:hover {
      background: #ffffff; }

.woocommerce-MyAccount-navigation-link--downloads {
  display: none; }

.two-column > *:first-child {
  margin-bottom: 40px; }

@media (min-width: 1100px) {
  .two-column {
    display: -ms-flexbox;
    display: flex; }
    .two-column > * {
      -ms-flex: 1;
          flex: 1; }
    .two-column--offset-right > *:nth-child(2) {
      -ms-flex-positive: 2;
          flex-grow: 2; } }

/*# sourceMappingURL=style.css.map */
