.acf-actions {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.delete-modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.63);

  .delete-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 5%;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 30px;
    }
  }
}

ul.acf-checkbox-list li {
    width: 33%;
    float: left;

    @media (max-width: 725px) {
      width: 50%;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
}

.acf-checkbox-list input[type="checkbox"] {
    width: auto;
}

.acf-taxonomy-field .categorychecklist-holder {
    max-height: none !important;
}

body .acf-relationship .list {
  height: auto;
}

input[type='checkbox'] {
    width: auto;
}

.acf-repeater .acf-actions {
    padding-left: 0;
}

.acf-repeater .acf-actions li a {
    margin-left: 0;
}

.acf-repeater .acf-actions li {
    float: left;
    margin-left: 0;
}

.acf-field select {
    border: 1px solid #c3c2c2;
    padding: 5px;
}
