$bp-1: 1200px;
$bp-2: 870px;
$bp-3: 425px;
$bp-4: 650px;

.cleanup-list, .cleanup-sidebar {
  float: left;
  width: 100%;
}

.cleanup-list {
  margin: 0 0 30px 0;
  @media (min-width: $bp-1) {
    width: 80%;
  }

  h1 {
    margin-top: 0;
  }
}

@media (max-width: $bp-4) {
  .marker-map {
    display: none;
  }
}

.cleanup-sidebar {
  @media(min-width: $bp-1) {
    width: 20%;
  }
  margin-top: 25px;

  input {
    margin-bottom: 10px;
  }

  form {
    margin: 10px auto 25px;
  }

  h3 {
    font-size: 19px;
  }
}

.card {
  background: #ececec;
  margin-bottom: 25px;
  max-width: 850px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $bp-4) {
    text-align: center;

    .content {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }

  .subtitle {
    white-space: nowrap;
  }

  img {
    display: inline-block;
  }

  clear: both;

  .content {
    padding: 25px;
    @media (min-width: $bp-4) {
      max-width: 340px;
    }
    > div {
      margin-bottom: 2.5px;
    }
  }
}

.counter {
  background: $pitch-green;
  margin-left: auto;
  text-align: center;

  @media (min-width: $bp-2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: $bp-2) {
    width: 100%;
  }

  .attendee-count {
    color: white;
    padding: 25px;
    width: 227px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $bp-2) {
      float: left;
      text-align: center;
      width: 60%;
    }

    @media (max-width: $bp-3) {
      margin: 0 auto;
      float: none;
      display: block;
    }

    .number {
      font-size: 2.5em;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;

    @media (max-width: $bp-2) {
      width: 40%;
      float: right;
      height: 100%;
      flex-direction: row;

      li {
        position: relative;

        .fa {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
        }
      }
    }

    @media (max-width: $bp-3) {
        width: 100%;
        height: 50px;
    }

    li {
      flex: 1;
    }
    a {
      background: #1d4cf4;
      color: white;
      padding: 15px 0;
      display: inline-block;
      width: 100%;
      height: 100%;

      &:hover {
        background: #5077ff;
      }
    }

    li:last-child {
      a {
        background: #2d5afb;
        &:hover {
          background: #5077ff;
        }
      }
    }
  }
}


.attending-this {
  background: $pitch-blue-strong-lighter;
}

.my-cleanup {
  background: $my-cleanup;
}


.navigation {
  margin-bottom: 50px;
}

.no-order-box {
  background: $pitch-green;
  color: white;
  padding: 20px;
  width: auto;
  // margin-top: 25px;

  .grid {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1225px) {
    .grid {
      display: block;
    }

    h3 {
      margin-bottom: 10px;
    }

    .button {
      margin-left: 10px;
    }

    .button:first-of-type {
      margin-left: 0;
    }
  }

  .button {
    margin-left: 50px;
    background-color: $orange;
    border: none;

    &:hover {
      border: none;
    }
  }

  h3 {
    font-size: 20px;
  }
}
