.faq {
  &__row {
    margin-bottom: 50px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.07);
  }
  &__q {
    background: $offwhite;
    background: $pitch-green;
    color: $black;
    color: white;
    line-height: .75;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  &__a {
    background-color: white;
    // border: 4px solid white;
    border-top: none;

    p {
      font-size: 15px;
      line-height: 1.5;
      max-width: 900px;
      color: $black;
    }
  }

  &__q,
  &__a {
    padding: 15px 15px 12.5px;
  }
}

.partners {
  display: flex;
  > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
