.page-template-template-all-cleanups footer {
  // display: none;
}

footer {
  background-color: #303133;
}

.site-info {
  padding: 36px 0;
  color: white;
}

// .window-scrolled .footer-scroll-top {
.footer-scroll-top {
    opacity: 1;
    display: none;
    // -webkit-animation-name: alpha-in;
    // -moz-animation-name: alpha-in;
    // -o-animation-name: alpha-in;
    // animation-name: alpha-in;
    // -webkit-animation-duration: 0.5s;
    // -moz-animation-duration: 0.5s;
    // -o-animation-duration: 0.5s;
    // animation-duration: 0.5s;
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: $pitch-green;
    border: none;
    color: white;
    border-radius: 2px;
    width: 44px;
    height: 44px;
    text-align: center;

    .fa {
      border: none;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

// .footer-scroll-top:not(.window-scrolled) {
//     opacity: 0;
//     -webkit-transition: opacity 0.5s;
//     -moz-transition: opacity 0.5s;
//     -o-transition: opacity 0.5s;
//     transition: opacity 0.5s;
// }
