.header-main {
  height: 372px;
  color: white;
  text-align: center;
  position: relative;
  background-position: center;
  text-align: left;

  a {
    color: $pitch-green;
  }

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1, h2 {
    margin: 0;
  }

  h2 {
    font-size: 21px;
    @media (min-width: 500px) {
      font-size: 24px;
    }
    line-height: 28px;
    font-weight: normal;
  }

  h1 {
    font-size: 30px;
    @media (min-width: 500px) {
      font-size: 35px;
    }
    line-height: 1.25;
    margin: 5px 0 10px 0;
  }

  .text + .button-wrapper {
    margin-top: 20px;
  }

  @media (min-width: 500px) {
    .text + .button-wrapper {
      margin-top: 30px;
    }
  }

  @media (min-width: 800px) {
    .text + .button-wrapper {
      margin-top: 50px;
    }
  }

}

.shrink-header {
  height: 200px;
}
