.icon-boxes {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 1050px) {
    flex-direction: row;
    > * {
      flex: 1;
    }
  }
}

.icon-box {
  display: block;
  text-align: center;
  padding: 50px 30px;
  margin: 0 20px;

  &__icon {
    color: white;
    background: $pitch-green;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 116px;
    height: 116px;
    line-height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
      font-size: 40px;
    }
  }

  &__title {
    color: $pitch-green;
    margin-bottom: 10px;
  }

  &__paragraph {
    color: $black;
  }
}

//
// state
//
.icon-box {
  &:nth-child(even) {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.07);
    background-color: white;
    margin: 0;
    flex-grow: 1.25;

    .icon-box__title {
      color: $blue-highlight;
      font-size: 35px;
    }

    .icon-box__icon {
      background: $blue-highlight;
      margin-bottom: 20px;
    }

    &:hover {
      .icon-box__icon {
        border-color: $blue-highlight;
        color: $blue-highlight;
      }
    }
  }

  &__icon {
    transition: .2s all;
  }

  &:hover {
    .icon-box__icon {
      background: $light-grey;
      border: 5px solid $pitch-green;
      color: $pitch-green;
    }

    &:nth-child(even) {
      .icon-box__icon {
        background: white;
      }
    }
  }
}
