.acf-map {
	width: 100%;
	height: 65vh;

  &--short {
    height: 40vh;
  }
}

// fixes potential theme css conflict
.acf-map img {
   max-width: inherit !important;
}

.full-height-map {
	.acf-map {
    // height: calc(100vh - 148px);
    height: calc(100vh - 93px - 27px - 21px);
	}
}

.page-template-template-all-cleanups .tab-dropdown {
	top: 0;
	transform: translateY(-100%);
}

.gm-style-iw {
	.cleanup-button {
		&:hover {
			background: $pitch-green !important;
			color: white !important;
		}
	}
}

.hidden-full-list {
	display: none;
}
