.no-order-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $pitch-green;
  z-index: 2;
  color: white;
  border-bottom: 2px solid #0ca26c;
  margin-bottom: -2px;

  @media (max-width: 1225px) {
    .grid {
      display: block;
    }

    .button, .message {
      margin-bottom: 10px;
    }

    position: relative;
    padding: 20px 0;
  }

  .message {
    text-transform: none;
  }

  .inner {
    justify-content: space-between;
  }

  .fa-times {
    font-size: 30px;
  }

  .menu-order-button {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: $orange;
    border: none;
  }

  .close {
    background: $pitch-green-darker;

    &:hover {
      color: white;
    }
  }
}

.woocommerce-page {
  .no-order-menu {
    display: none;
  }
}

h3#order_review_heading {
    margin: 25px 0 10px;
}

p.woocommerce-thankyou-order-received {
    font-size: 25px;
    margin-bottom: 20px;
}
