.social-icons {
  display: flex;
  flex-direction: row;
  // margin-right: -10px;
}

a.social-icon {
  &,
  &:visited,
  &:link,
  &:active {
    color: white;
  }

  font-size: 17px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
