.vc_row {
    margin-top: 75px;
}

.vc_icon_element-inner {
    padding: 15px;
    background-color: $pitch-green !important;
    border: 8px solid $pitch-green !important;

    .vc_icon_element-icon.fa {
      color: white !important;
    }

    &:hover {
      background-color: white !important;
      border: 8px solid $pitch-green;

      .vc_icon_element-icon.fa {
        color: $pitch-green !important;
      }
    }
}

.main-content ul {
    list-style: initial;
    padding: 0px 0px 0px 18px;
}

.wpb_gmaps_widget .wpb_wrapper {
    padding: 0 !important;
}
