.woocommerce-Button {
  border: 2px solid transparent !important;
}
.woocommerce-MyAccount-navigation {
  margin-bottom: 30px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background: #f9f9f9;
    li {
      a {
        display: flex;
        padding: 5px 10px;
      }
    }
    li:hover {
      background: #ffffff;
    }
  }
}

.woocommerce-MyAccount-navigation-link {
  &--downloads {
    display: none;
  }
}
