.two-column {
  > * {
    &:first-child {
      margin-bottom: 40px;
    }
  }
  @media (min-width: 1100px) {
    display: flex;

    > * {
      flex: 1;
    }

    &--offset-right {
      > * {
        &:nth-child(2) {
          flex-grow: 2;
        }
      }
    }
  }
}
